In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
dataframe = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')

In [71]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

## Question 1

In [48]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]

In [49]:
A.extend(B)
A_B = A

In [50]:
A_B

[1, 2, 3, 4, 5, 6, 13, 21, 34]

## Question 2

In [52]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

## Question 3

In [57]:
average_fuel_per_unit = dataframe.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values()

In [58]:
average_fuel_per_unit[:1]

fuel_type_code_pudl
gas    13.659397
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 4

In [62]:
describe_dataframe = (dataframe.fuel_mmbtu_per_unit.describe())

In [63]:
round(describe_dataframe, 2)

count    29523.00
mean         8.49
std         10.60
min          0.00
25%          1.02
50%          5.76
75%         17.01
max        341.26
Name: fuel_mmbtu_per_unit, dtype: float64

In [66]:
skew_fuel = round(dataframe.fuel_qty_burned.skew(),2)
skew_fuel

15.85

In [67]:
kurt_fuel = round(dataframe.fuel_qty_burned.kurt(),2)
kurt_fuel

651.37

## Question 6

In [69]:
missing_values = dataframe.isna()
sum_of_missing_values = missing_values.sum()

In [70]:
sum_of_missing_values

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

#### Total missing values are 180

In [72]:
percentage_of_missing_values = (180/29343)*100

In [74]:
round(percentage_of_missing_values, 3)

0.613

## Question 7

In [75]:
fuel_unit = dataframe.fuel_unit
fuel_unit.value_counts()

mcf       11354
ton        8958
bbl        7998
gramsU      464
mmbtu       180
kgU         110
mwhth       100
mwdth        95
gal          84
Name: fuel_unit, dtype: int64

## Question 8

In [80]:
corr_fuel = dataframe.corr().loc['fuel_cost_per_unit_burned'].sort_values(ascending = True)
corr_fuel

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 9

In [82]:
unit_per_year = dataframe.groupby(['report_year','fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].sum()

In [84]:
coal_1994 = unit_per_year.loc[1994,'coal']
coal_1998 = unit_per_year.loc[1998,'coal']

In [85]:
percent_change = (coal_1998-coal_1994)/coal_1994*100
round(percent_change,0)

-21.0

## Question 10

In [87]:
fuel_unit_delivered = dataframe.groupby(['report_year'])['fuel_cost_per_unit_delivered'].mean().sort_values(ascending = False)

In [90]:
fuel_unit_delivered[0:5]

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64